td, th {
	border: 2px solid; 
	border-color: green;
	text-align: center;
  }
  
img {
	width: 100%;
	height: auto;
  }
  
html {
	background-color: black;
}

h1 {
	font-family: Georgia, serif;
	font-style: italic;
	font-weight: bold;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}
	

