td, th {
	border: 2px solid; 
	border-color: rgb(136,13,30);
	text-align: center;
  }
  
img {
	width: 600px;
	height: 500px;
  }
  
html {
	background-color: black;
}

h1 {
	font-family: Georgia, serif;
	font-style: italic;
	font-weight: bold;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}
.column{
	background-color: rgb(3,0,39);
}
	

